body {
    font-family: 'Roboto', sans-serif;
    background-color: gray;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;

}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.product-card {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

.product-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 4px 8px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 4px;
    text-transform: uppercase;
}

.product-image-container {
    width: 100%;
    height: 300px; /* Adjust as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.product-image {
    width: 100%;
    height: auto;
    display: block;
}

.product-info {
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

}

.product-info button {
  /* Estilo do botão */
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px; /* Cantos arredondados */
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  background: #ff4c4c;
  color: #fff;
  padding: 0.7rem 1.2rem;
  text-decoration: none;
  padding: 15px;
  display: flex;
  flex-direction: column;
  
}


.product-title {
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 5px;
    color: #333;
}

.product-discount {
    font-size: 14px;
    font-weight: 500;
    color: #d9534f;
    margin-bottom: 5px;
}

.product-price {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.old-price {
    font-size: 14px;
    color: #999;
    text-decoration: line-through;
    margin-right: 8px;
}

.current-price {
    font-size: 20px;
    font-weight: 700;
    color: #333;
    margin: 0;
}

.pix-price {
    font-size: 14px;
    font-weight: 500;
    color: #333;
    margin: 0;
}

/* Cabeçalho */
header {
  background: #111;
  color: #fff;
  padding: 1rem 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

.logo {
  font-size: 1.5rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #ff4c4c;
}

.card img[alt="product-card"] {
  width: 350px;      /* largura */
  height: 300px;     /* altura */
  object-fit: cover; /* mantém o foco central sem distorcer */
  border-radius: 5px;
}

h2 {
  padding: 3rem 0;
}

h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: #f9f9f9;
}

